*{
    font-family: montserrat;
}
body{
    background: white;
}


h5 {
    color: rgb(24, 109, 207);
    margin-top: 300px;
    font-size: 45px; 
}
p{
    color: rgb(24, 109, 207);
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-caption{
    bottom: 20px;
    z-index: 2;
}
