* {
    font-family: montserrat;
}

body {
    background: rgb(82, 4, 4);
}


h5 {
    background-color: burlywood;

    color: rgb(12, 8, 241);
    margin-top: 300px;
    font-size: 45px;
}

p {
    color: rgb(12, 8, 241);
    background-color: burlywood;
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}